<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @subject.description %>
</p>

<p>
  <b>Units:</b>
  <%= @subject.units %>
</p>


<%= link_to 'Edit', edit_subject_path(@subject) %> |
<%= link_to 'Back', subjects_path %>
